/* CSS Document */
.section-1{
	background: url("david-lezcano-Gikm-aEAIaE-unsplash.jpg");
	background-size: cover;
	display: block;
    overflow: hidden;
	height: 1000px
}
h1{
	color: white;
	text-align: center;
	line-height: 100px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 500;
	letter-spacing: 5px
}	
h2{
	color: white;
	text-align: center;
	line-height: 100px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 700;
}	
.border{
	border: 6px solid rgba(255,254,254,0.91);
    border-radius: 10px;
	width: 350px;
	margin: auto
}
p{
	color:white;
	text-align: center;
	line-height: 1px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20px
}
.button{
     display: flex;
     justify-content: center;
     align-items: center;
 }

.btn1 {
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  font-size: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 40px 10px 40px;
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 20px;
}