/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.logo{
	background: url("Untitled-13-01.jpg");
	width: 1200px;
	height: 250px;
	background-attachment:fixed;
	background-size:auto;
	margin: 10px 0px;
}
.section-1{
	background: url( "dan-v-oc9wpakzpas-unsplash.jpg");
	background-size: cover;
	display: block;
    width: 100%;
    height: 380px;

}
h1{
	color: white;
	text-align: center;
	line-height: 380px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 700;
}	
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
/*  overflow: hidden;*/
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 700;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	text-decoration-line: underline;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.thin{
	font-family:  Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";	
}	
h2{
	text-align: center;
	color: black;
	margin: 0px 0px 24px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight:700;
	font-size: 45px
}
p{
	text-align: center;
	color: black;
	margin: 0px 0px 24px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-weight:500;
	font-size: 15px
}
.first{
	margin-top: 10px;
	margin-bottom: 20px;
}
.hinh1{
	width: 600px;
	height: 200px;
	padding-right: 40px;
	padding-left: 130px;
	background-size: contain
}
h3{
	color: black;
	margin: 0px 40px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight:700;
	font-size: 200px
}
.text1{
	color: black;
	margin: 0px 50px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight:400;
	font-size: 20px;
	text-align:justify;
}
h4{
	color: black;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight:700;
	font-size: 200px;
	text-align: right;
	margin: 0px 50px
}
.text2{
	color: black;
	margin: 0px 70px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight:400;
	font-size: 20px;
	text-align: justify;
}
.section-2{
	background: url(   "bogdan-preda-6Bkvp5jpeFk-unsplash.jpg");
	background-size: contain;
	display: block;
    width: 997px;
    height: 300px;
    overflow: hidden;
    margin: auto
}
h5{
	color: white;
	line-height: 300px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-weight: 500;
	font-size: 20px;
	text-decoration-line: underline;
	text-align: center;
}	
.hinh-anh {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(0,0,0,0.29);
}

.hinh-anh:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 40%;
		font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
text-decoration: underline
}

h6{
	text-align: center;
	color: black;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight:500;
	font-size: 45px;
}
h7{
	color: black;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	margin: 20px; 
}
.site-footer
{
  background-color:rgba(16,15,15,0.39);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
}

.site-footer h6{
  color:#fff;
  font-size:19px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
margin: 30px
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
  .site-footer
  {
    padding-bottom:0
  }
.h2-hihi{
	margin-top: 100px;
	margin-top: 50px;
}
